# SSH configuration for internal nodes via jump host.
# Update bastion HostName/User/IdentityFile before running Ansible.


Host bastion
  HostName 194.47.155.141
  User ubuntu
  IdentityFile Global_Key.pem
  IdentitiesOnly yes
  StrictHostKeyChecking accept-new

# Monitoring nodes should also traverse bastion.
Host 10.0.1.*
  User ubuntu
  ProxyJump bastion
  IdentityFile Global_key.pem
  IdentitiesOnly yes
  StrictHostKeyChecking accept-new
  ServerAliveInterval 30
  ServerAliveCountMax 3

# Internal lab subnet: always traverse bastion.
Host 10.8.50.*
  User ubuntu
  ProxyJump bastion
  IdentityFile Global_Key.pem
  IdentitiesOnly yes
  ServerAliveInterval 30
  ServerAliveCountMax 3
  StrictHostKeyChecking accept-new
