---
apiVersion: 1

datasources:
  # Prometheus A — primary datasource, set as default
  - name: Prometheus A
    uid: {{ grafana_prometheus_a_uid }}
    type: prometheus
    url: http://{{ hostvars['monitor-node-01'].ansible_host }}:9090
    access: proxy
    isDefault: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: POST

{#  # Prometheus B — secondary datasource for failover / cross-checking#}
{#  - name: Prometheus B#}
{#    uid: {{ grafana_prometheus_b_uid }}#}
{#    type: prometheus#}
{#    url: http://{{ hostvars['monitor-node-02'].ansible_host }}:9090#}
{#    access: proxy#}
{#    isDefault: false#}
{#    jsonData:#}
{#      timeInterval: "15s"#}
{#      queryTimeout: "60s"#}
{#      httpMethod: POST#}
