---
apiVersion: 1

datasources:
{% for host in groups['monitoring'] %}
  - name: Prometheus {{ host }}
    uid: prometheus-{{ host | lower | regex_replace('[^a-z0-9-]', '-') }}
    type: prometheus
    url: http://{{ hostvars[host].ansible_host }}:9090
    access: proxy
    isDefault: {{ 'true' if loop.first else 'false' }}
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: POST
{% endfor %}
