[Unit]
Description=PostgreSQL Exporter for Prometheus
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=simple
User=postgres_exporter
Group=postgres_exporter
EnvironmentFile=/etc/postgres_exporter/postgres_exporter.env
ExecStart=/usr/local/bin/postgres_exporter \
  --web.listen-address=0.0.0.0:{{ postgres_exporter_port }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
